# Core ML/DL frameworks
tensorflow-privacy
opencv-python
scikit-learn

# API Framework
fastapi
websockets
uvicorn
python-multipart

# Azure Storage
azure-storage-blob

# Utilities
python-dotenv
pydantic